<h2>Balanço de Inventário
	 <div style='text-align:right; width:100%;'>
		<%= link_to 'Novo Balanço', new_balanco_path, :class => 'btn btn-primary' %>
	</div>
</h2>

<table class="table table-bordered table-striped table-condensed" >
	<thead>
  		<tr>
    		<th>Nome</th>
    		<th></th>
    		<th></th>
    		<th></th>
  		</tr>
	</thead>
  <tbody>
<% @balancos.each do |balanco| %>
  <tr>
    <td width='100%'><%= balanco.nome %></td>
    <td><%= link_to raw('<i class="icon-search icon-white"></i>'), balanco ,:class => 'btn btn-danger', :title => 'Detalhe'%></td>
    <td><%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_balanco_path(balanco),:class => 'btn btn-danger', :title => 'Alterar' %></td>
    <td><%= link_to raw('<i class="icon-trash icon-white"></i>'), balanco, method: :delete, data: { confirm: 'Ecluir registro ?' },:class => 'btn btn-danger', :title => 'Excluir' %></td>
  </tr>
<% end %>
	<tr>
		<td colspan='4'>
			<%= will_paginate @balancos , :align => "center"%>
		</td>
	</tr>
</tbody>
</table>
