<p id="notice"><%= notice %></p>

<legend>
 <b>Nome Balanço:</b>
  <%= @balanco.nome %>
</legend>

<table class="table table-bordered table-striped table-condensed" >
	<thead>
  		<tr>
    		<th style='text-align:center;'>Produto</th>
			<th style='text-align:center;'>Qtde. Estoque </th>
    		<th style='text-align:center;'>Qtde. Aferida</th>
  		</tr>
	</thead>
  <tbody>
<% @balanco.produto_aferidos.each do |produto| %>
  <tr>
    <td width='55%'><%= produto.nomeProduto %></td>
	<td width='15%' style='text-align:right;'><%=produto.qtdeEstoque %></td>
	<td width='15%' style='text-align:right;'><%=produto.qtdeAferida %></td>
  </tr>
<% end %>
</tbody>
</table>


<!-- <%= link_to 'Edit', edit_balanco_path(@balanco) %> | -->
<%= link_to 'Voltar', balancos_path %>
