<p id="notice"><%= notice %></p>

<p>
  <b>Idproduto:</b>
  <%= @produto.idProduto %>
</p>

<p>
  <b>Qtdeaferida:</b>
  <%= @produto.qtdeAferida %>
</p>

<p>
  <b>Localizacao:</b>
  <%= @produto.localizacao.descricao %>
</p>


<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
