<!DOCTYPE html>
<html>
  <head>
    <title>CEAM</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <h2><%= link_to "CEAM - Controle de Estoque Avançado", '#', id: "logo" %></h2>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Localização",    localizacaos_path%></li>
              <!-- <li><%= link_to "Organizar Estoque",    produtos_path%></li> -->
			  <li><%= link_to "Balanço de Inventário",    balancos_path%></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
		<br>
		<div class="center hero-unit">
      		<%= yield %>
		</div>
    </div>
	<footer class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
		</div>
	  </div>
	</footer>
  </body>
</html>

