<!DOCTYPE html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
Name	   : Regeneracy
Description: A two-column, fixed-width design with dark color scheme.
Version	: 1.0
Released   : 20100529
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CEAM</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><%= link_to "CEAM", '#', id: "logo" %></h1>
				<p>Controle de estoque avançado</p>
			</div>
			<div id="menu">
				<ul>
					<li><%= link_to "Localização", localizacaos_path%></li>
					<li><%= link_to "Balanço de Inventário", balancos_path%></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
			<%= yield %>
				<div style="clear: both;"> </div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
</body>
</html>
